<div class="col-md-7">
  <div class="row">
    <div class="col-xs-12">
      <img style="max-height: 300px;" [src]="recipe.imagePath" [alt]="recipe.name" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2>{{ recipe.name }}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div appDropdown class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a (click)="onAddToShoppingList()" class="pointer">To Shopping list</a>
            <a class="pointer">Edit recipe</a>
            <a class="pointer">Delete recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{ recipe.description }}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <ul class="list-group">
        <li *ngFor="let ingredient of recipe.ingredients" class="list-group-item">
          {{ ingredient.name }}
          ({{ ingredient.amount }})
        </li>
      </ul>
    </div>
  </div>
</div>
